<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Exploratory Data Analysis: Gamma Spectroscopy in Python (Part 3)</title>
<link href="../Styles/Style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<h1>Exploratory Data Analysis: Gamma Spectroscopy in Python (Part 3)</h1>
<blockquote>原文：<a href="https://towardsdatascience.com/exploratory-data-analysis-gamma-spectroscopy-in-python-part-3/">https://towardsdatascience.com/exploratory-data-analysis-gamma-spectroscopy-in-python-part-3/</a></blockquote>
<p class="wp-block-paragraph"><mdspan datatext="el1754088425390" class="mdspan-comment">Different</mdspan> objects around us can be slightly radioactive. Americium in smoke detectors, radium in some vintage watches, or uranium in vintage glass; a full list can be long. Mostly, these objects are safe and cannot cause a health risk. It is also interesting to identify them and study the matter on the atomic level. And we can do this using a radiation detector. In <a href="https://towardsdatascience.com/exploratory-data-analysis-gamma-spectroscopy-in-python/">the first part</a>, I did an exploratory data analysis of the gamma spectroscopy data. In the <a href="https://towardsdatascience.com/exploratory-data-analysis-gamma-spectroscopy-in-python-part-2/">second part</a>, I created a machine learning model for detecting radioactive isotopes. This is the last 3rd part, and it’s time to add a created model to the real app!</p>



<p class="wp-block-paragraph">In this story, I will test two approaches:</p>



<ul class="wp-block-list">
<li class="wp-block-list-item">I will create a public Streamlit app that will be hosted for free on <a href="https://streamlit.io/cloud">Streamlit Cloud</a> (the app link is added to the end of the article).</li>



<li class="wp-block-list-item">As a more flexible and universal solution, I will create a Python HTMX-based app that can communicate with real hardware and make predictions in real time.</li>
</ul>



<p class="wp-block-paragraph">In the same way as in the previous part, I will use a <a href="https://102.radiacode.com/DmitriiE">Radiacode</a> scintillation detector to get the data (disclaimer: the device used in this test was provided by the manufacturer; I don’t get any commercial profit from their sales, and I did not get any editorial input about all the tests). Readers who don’t have a Radiacode hardware will be able to test the app and the model using files available on Kaggle.</p>



<p class="wp-block-paragraph">Let’s get started!</p>



<h2 class="wp-block-heading">1. Isotopes Classification Model</h2>



<p class="wp-block-paragraph">This model was described in the <a href="https://towardsdatascience.com/exploratory-data-analysis-gamma-spectroscopy-in-python-part-2/">previous part</a>. It is based on XGBoost, and I trained the model using different radioactive samples. I used samples that can be legally purchased, like vintage uranium glass or old watches with radium dials made in the 1950s. As mentioned before, I also used a Radiacode scintillation detector, which allows me to get the gamma spectrum of the object. Only 10-20 years ago, these types of detectors were available only in big labs; today, they can be purchased for the price of a mid-range smartphone.</p>



<p class="wp-block-paragraph">The model contains three components:</p>



<ul class="wp-block-list">
<li class="wp-block-list-item">The XGBoost-based model itself.</li>



<li class="wp-block-list-item">A list of radioactive isotopes (like Lead-214 or Actinium-228), on which the model was trained. The Radiacode scintillation detector returns 1024 spectrum values, and 23 of them were used for the model.</li>



<li class="wp-block-list-item">A label encoder to convert list indexes into human-readable names.</li>
</ul>



<p class="wp-block-paragraph">Let’s wrap all this into a single Python class:</p>



<pre class="wp-block-prismatic-blocks"><code class="language-python">from xgboost import XGBClassifier
from sklearn.preprocessing import LabelEncoder


class IsotopesClassificationModel:
    """ Gamma Spectrum Classification Model """

    def __init__(self):
        """ Load models """
        path = self._get_models_path()
        self._classifier = self._load_model(path + "/XGBClassifier.json")
        self._isotopes = self._load_isotopes(path + "/isotopes.json")
        self._labels_encoder = self._load_labels_encoder(path + "/LabelEncoder.npy")

    def predict(self, spectrum: Spectrum) -&gt; str:
        """ Predict the isotope """
        features = SpectrumPreprocessing.convert_to_features(
            spectrum, self._isotopes
        )
        preds = self._classifier.predict([features])
        preds = self._labels_encoder.inverse_transform(preds)
        return preds[0]

    @staticmethod
    def _load_model(filename: str) -&gt; XGBClassifier:
        """ Load model from file """
        bst = XGBClassifier()
        bst.load_model(filename)
        return bst

    @staticmethod
    def _load_isotopes(filename: str) -&gt; List:
        with open(filename, "r") as f_in:
            return json.load(f_in)

    @staticmethod
    def _load_labels_encoder(filename: str) -&gt; LabelEncoder:
        le = LabelEncoder()
        le.classes_ = np.load(filename)
        return le

    @staticmethod
    def _get_models_path() -&gt; str:
        """ Get path to models. Model files are stored in 
            'models/V1/' folder """
        parent_dir = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))
        return parent_dir + f"/models/{IsotopesClassificationModel.VERSION}"</code></pre>



<p class="wp-block-paragraph">A <em>Spectrum</em> class contains the spectrum data we get from a radiation detector:</p>



<pre class="wp-block-prismatic-blocks"><code class="language-python">@dataclass
class Spectrum:
    """ Radiation spectrum data """

    duration: datetime.timedelta
    a0: float
    a1: float
    a2: float
    counts: list[int]</code></pre>



<p class="wp-block-paragraph">Here, <em>counts</em> is a gamma spectrum, which is represented by a list of 1024 channel values. Spectrum data can be exported using the official Radiacode Android app or retrieved directly from a device using a <a href="https://github.com/cdump/radiacode">radiacode</a> Python library.</p>



<p class="wp-block-paragraph">To load the spectrum into the model, I created a <em>SpectrumPreprocessing</em> class:</p>



<pre class="wp-block-prismatic-blocks"><code class="language-python">class SpectrumPreprocessing:
    """ Gamma Spectrum Preprocessing """

    @staticmethod
    def convert_to_features(spectrum: Spectrum, isotopes: List) -&gt; np.array:
        """ Convert the spectrum to the list of features for prediction """
        sp_norm = SpectrumPreprocessing._normalize(spectrum)
        energies = [energy for _, energy in isotopes]
        channels = [SpectrumPreprocessing.energy_to_channel(spectrum, energy) for energy in energies]
        return np.array([sp_norm.counts[ch] for ch in channels])

    @staticmethod 
    def load_from_xml_file(file_path: str) -&gt; Spectrum:
        """ Load spectrum from a Radiacode Android app file """</code></pre>



<p class="wp-block-paragraph">Here, I skip some code blocks that were already published in the <a href="https://towardsdatascience.com/exploratory-data-analysis-gamma-spectroscopy-in-python-part-2/">previous part</a>. Extracting features from the gamma spectrum was also explained there, and I highly recommend reading that part first.</p>



<p class="wp-block-paragraph">Now, let’s test the model! I took a Radiacode detector and collected a gamma spectrum within 10 minutes:</p>



<figure class="wp-block-image aligncenter size-large is-resized"><img decoding="async" src="../Images/1ee92fbbdbcc4ce24943ff78477f7d74.png" alt="" class="wp-image-608787" style="width:480px;height:auto" data-original-src="https://contributor.insightmediagroup.io/wp-content/uploads/2025/07/20250712_193719-1024x307.jpg"/><figcaption class="wp-element-caption">Radiacode radiation detector, Image by author</figcaption></figure>



<p class="wp-block-paragraph">This Chinese pendant was advertised as “ion-generated,” and it is slightly radioactive. Its gamma spectrum, collected in the official Radiacode Android app, looks like this:</p>



<figure class="wp-block-image size-large"><img decoding="async" src="../Images/e30ff3e17154b77b994043968bcd280b.png" alt="" class="wp-image-612643" data-original-src="https://contributor.insightmediagroup.io/wp-content/uploads/2025/07/thorium_screenshot-1024x433.jpg"/><figcaption class="wp-element-caption">Screenshot by author</figcaption></figure>



<p class="wp-block-paragraph">After waiting for ~10 minutes, I exported the spectrum into an XML file. Now, we can run the model:</p>



<pre class="wp-block-prismatic-blocks"><code class="language-python">from spectrum import SpectrumPreprocessing
from ml_models import IsotopesClassificationModel

sp = SpectrumPreprocessing.load_from_file("spectrum.xml")
model = IsotopesClassificationModel()
result = model.predict(sp)
print(result)

#&gt; Thorium</code></pre>



<p class="wp-block-paragraph">As we can see, the model works well. We can compare the peaks with spectra of known isotopes (for example, <a href="https://physicsopenlab.org/2016/01/31/thorium-gamma-spectrometry/">here</a> or <a href="https://www.gammaspectacular.com/blue/gamma-spectra/th232-spectrum">here</a>) and confirm that the spectrum belongs to thorium.</p>



<h2 class="wp-block-heading">2. Streamlit</h2>



<p class="wp-block-paragraph">The model works; however, we live in the XXI century, and almost nobody will run the console app to get the results. Instead, we can make the app available online, so all Radiacode users will be able to run it. </p>



<p class="wp-block-paragraph">There are many Python frameworks for making browser-based apps, and <a href="https://github.com/streamlit/streamlit">Streamlit</a> is probably the most popular in the data science community. And what is important for us, a <a href="https://streamlit.io/cloud">Streamlit Community Cloud</a> platform allows everyone to publish their apps completely for free. To do this, let’s make the app first.</p>



<h3 class="wp-block-heading">2.1 Streamlit App</h3>



<p class="wp-block-paragraph">A Streamlit framework is relatively easy to use, at least if a standard-looking app is good for us. Personally, I’m not a fan of this approach. These frameworks hide all low-level implementation details from users. It is straightforward to make a prototype, but the UI logic will be tightly coupled with a very niche framework and cannot be reused anywhere else. Doing everything non-standard, which is not supported by the framework, can be almost impossible or hard to implement without digging into tons of abstractions and pages of code. However, in our case, the prototype is all we need.</p>



<p class="wp-block-paragraph">In general, a Streamlit code is simple, and we just need to describe the logical hierarchy of our page:</p>



<pre class="wp-block-prismatic-blocks"><code class="language-python">import streamlit as st
import logging
logger = logging.getLogger(__name__)


def is_xml_valid(xml_data: str) -&gt; bool:
    """ Check if the XML has valid size and data """
    return len(xml_data) &lt; 65535 and xml_data.startswith("&lt;?xml")


def get_spectrum(stringio: StringIO) -&gt; Optional[Spectrum]:
    """ Load spectrum from the StringIO stream """
    xml_data = stringio.read()
    if is_xml_valid(xml_data):
        return SpectrumPreprocessing.load_from_xml(xml_data)
    return None

def main():
    """ Main app """
    st.set_page_config(page_title="Gamma Spectrum")
    st.title("Radiacode Spectrum Detection")
    st.text(
        "Export the spectrum to XML using the Radiacode app, and "
        "upload it to see the results."
    )

    # File Upload
    uploaded_file = st.file_uploader(
        "Choose the XML file", type="xml", key="uploader",
    )
    if uploaded_file is not None:
        stringio = StringIO(uploaded_file.getvalue().decode("utf-8"))
        if sp := get_spectrum(stringio):
            # Prediction
            model = IsotopesClassificationModel()
            result = model.predict(sp)
            logger.info(f"Spectrum prediction: {result}")

            # Show result
            st.success(f"Prediction Result: {result}")
            # Draw
            fig = get_spectrum_barchart(sp)
            st.pyplot(fig)


if __name__ == "__main__":
    logger.setLevel(logging.INFO)
    main()</code></pre>



<p class="wp-block-paragraph">As we can see, the full app requires a minimal amount of Python code. Streamlit will render all HTML for us, with title, file upload, and results. As a bonus, I will also display a spectrum using Matplotlib:</p>



<pre class="wp-block-prismatic-blocks"><code class="language-python">def get_spectrum_barchart(sp: Spectrum) -&gt; plt.Figure:
    """ Get Matplotlib's barchart """
    counts = SpectrumPreprocessing.get_counts(sp)
    energy = [
       SpectrumPreprocessing.channel_to_energy(sp, x) for x in range(len(counts))
    ]

    fig, ax = plt.subplots(figsize=(9, 6))
    ax.spines["top"].set_color("lightgray")
    ax.spines["right"].set_color("lightgray")
    # Bars
    ax.bar(energy, counts, width=3.0, label="Counts")
    # X values
    ticks_x = [SpectrumPreprocessing.channel_to_energy(sp, ch) for ch in range(0, len(counts), len(counts) // 20)]
    labels_x = [f"{int(ch)}" for ch in ticks_x]
    ax.set_xticks(ticks_x, labels=labels_x, rotation=45)
    ax.set_xlim(energy[0], energy[-1])
    ax.set_ylim(0, None)
    ax.set_title("Gamma spectrum")
    ax.set_xlabel("Energy, keV")
    ax.set_ylabel("Counts")
    return fig</code></pre>



<p class="wp-block-paragraph">Now we can run the app locally:</p>



<pre class="wp-block-prismatic-blocks"><code class="language-">streamlit run st-app.py</code></pre>



<p class="wp-block-paragraph">After that, our app is fully operational and can be tested in a browser:</p>



<figure class="wp-block-image size-large"><img decoding="async" src="../Images/5c02d3b280c2584ab5e636e4e16254b3.png" alt="" class="wp-image-612661" data-original-src="https://contributor.insightmediagroup.io/wp-content/uploads/2025/07/streamlitScreenshot-1024x797.png"/><figcaption class="wp-element-caption">Screenshot by author</figcaption></figure>



<p class="wp-block-paragraph">As mentioned before, I am not a fan of very high-level frameworks and prefer to have a better understanding of how things work “under the hood.” However, considering that I spent only about 100 lines of code to make a fully functional web app, I cannot complain – for prototyping, it works well.</p>



<h3 class="wp-block-heading">2.2 Streamlit Community Cloud</h3>



<p class="wp-block-paragraph">When the app is tested locally, it’s time to make it public! A Streamlit Cloud is a free service, and obviously, it has a lot of limitations:</p>



<ul class="wp-block-list">
<li class="wp-block-list-item">The app runs in a Docker-like container. Your GitHub account must be linked to Streamlit. When the container starts, it pulls your code from GitHub and runs it.</li>



<li class="wp-block-list-item">At the time of writing this text, container resources are limited to 2 cores and up to 2,7 GB of RAM. It would be too constrained to run a 70B size LLM, but for a small XGBoost model, it is more than enough.</li>



<li class="wp-block-list-item">Streamlit does not provide any permanent storage. After shutdown or restart, all logs and temporary files will be lost (you can use API secrets and connect to any other cloud storage from your Python code if needed).</li>



<li class="wp-block-list-item">After a period of inactivity (about 30 minutes), the container will be stopped, and all temporary files will also be lost. If someone opens the app link, it will run again.</li>
</ul>



<p class="wp-block-paragraph">As readers can guess, an inactive app costs Streamlit almost nothing because it stores only a small configuration file. And it is a nice solution for a free service – it allows us to publish the app without any costs and give people a link to run it.</p>



<p class="wp-block-paragraph">To <strong>publish the app in Streamlit</strong>, we need to perform three simple steps.</p>



<p class="wp-block-paragraph">First, we need to commit our Python app to GitHub. A <em>requirements.txt</em> file is also mandatory. Streamlit container uses it to install required Python dependencies. In my case, it looks like this:</p>



<pre class="wp-block-prismatic-blocks"><code class="language-python">xgboost==3.0.2
scikit-learn==1.6.1
numpy==1.26.4
streamlit==1.47.0
pillow==11.1.0
matplotlib==3.10.3
xmltodict==0.14.2</code></pre>



<p class="wp-block-paragraph">Server settings can be changed using a <em>.streamlit/config.toml</em> file. In my case, I limited the uploaded file size to 1 MB because all spectra files are smaller:</p>



<pre class="wp-block-prismatic-blocks"><code class="language-ini">[server]
# Max size, in megabytes, for files uploaded with the file_uploader.
# Default: 200
maxUploadSize = 1</code></pre>



<p class="wp-block-paragraph">Second, we need to log in to <a href="http://share.streamlit.io">share.streamlit.io</a> using a GitHub account and give permission to access the source code.</p>



<p class="wp-block-paragraph">Finally, we can create a new Streamlit project. In the project settings, we can also select the desired URL and environment:</p>



<figure class="wp-block-image aligncenter size-large is-resized"><img decoding="async" src="../Images/fb43e36a5bbea7bd7e4dc50c31feb133.png" alt="" class="wp-image-612870" style="width:469px;height:auto" data-original-src="https://contributor.insightmediagroup.io/wp-content/uploads/2025/07/Streamlit1-1024x576.png"/><figcaption class="wp-element-caption">Image by author</figcaption></figure>



<p class="wp-block-paragraph">If everything was done correctly, we can see our app running:</p>



<figure class="wp-block-image size-large"><img decoding="async" src="../Images/ddf3ef8b242467333020e11a14efad8e.png" alt="" class="wp-image-612404" data-original-src="https://contributor.insightmediagroup.io/wp-content/uploads/2025/07/StreamlitRun-1024x570.png"/><figcaption class="wp-element-caption">Image by author</figcaption></figure>



<p class="wp-block-paragraph">At this moment, users worldwide can also access our app! In my case, I selected a <em>gammaspectrumdetection</em> name, and the app is available using <a href="https://gammaspectrumdetection.streamlit.app">this URL</a>.</p>



<h2 class="wp-block-heading">3. FastAPI + HTMX App</h2>



<p class="wp-block-paragraph">As readers can see, Streamlit is a nice solution for a simple prototype. However, in the case of the radiation detector, I would like to see data coming from real Radiacode hardware. This would be impossible to do in Streamlit; this library just was not designed for that. Instead, I will use several production-grade frameworks:</p>



<ul class="wp-block-list">
<li class="wp-block-list-item">An <a href="https://htmx.org">HTMX</a> framework allows us to make a fully functional web interface.</li>



<li class="wp-block-list-item"><a href="https://fastapi.tiangolo.com">FastAPI</a> will run the server.</li>



<li class="wp-block-list-item">The ML model will process the data retrieved in real-time from a radiation detector using a <a href="https://github.com/cdump/radiacode">Radiacode</a> library.</li>
</ul>



<p class="wp-block-paragraph">As mentioned before, those readers who don’t have a Radiacode hardware will be able to replay the data using raw log files, saved from a real device. A link to the app and all files is available at the end of the article.</p>



<p class="wp-block-paragraph">Let’s get into it!</p>



<h3 class="wp-block-heading">3.1 HTML/HTMX</h3>



<p class="wp-block-paragraph">The app is connected to a Radiacode detector, and I decided to show a connection status, radiation level, and a spectrum graph on the page. At the bottom, a spectrum collection time and an ML model prediction will be displayed.</p>



<p class="wp-block-paragraph">An <em>index.html</em> file for this layout looks like this:</p>



<pre class="wp-block-prismatic-blocks"><code class="language-javascript">&lt;!DOCTYPE html&gt;
&lt;head&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;title&gt;Gamma Spectrum &amp; Monitoring&lt;/title&gt;
    &lt;script src="https://cdn.jsdelivr.net/npm/<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7f170b120751100d183f4d514f514d">[email protected]</a>/dist/htmx.min.js" crossorigin="anonymous"&gt;&lt;/script&gt;
    &lt;script src="https://cdn.jsdelivr.net/npm/chart.js"&gt;&lt;/script&gt;
    &lt;link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}"&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;script type="text/javascript"&gt;
        function createChart() {
            const ctx = document.getElementById('gammaChart').getContext('2d');
            window.chart = new Chart(ctx, {
                 ...
            });
        }

        function updateChartData(labels, data) {
            window.chart.data.labels = labels;
            window.chart.data.datasets[0].data = data;
            window.chart.update();
        }

        document.addEventListener('DOMContentLoaded', function() {
            // console.log('Page loaded');
            createChart();
        }, false);
    &lt;/script&gt;

    &lt;div class="dashboard"&gt;
        &lt;div id="reload-status" hx-get="/device/poll" hx-target="#device-info" hx-swap="outerHTML" hx-trigger="load, every 1s"/&gt;
    
        &lt;div class="info-row-top"&gt;
            &lt;div class="info-box-left"&gt;
                &lt;span id="device-info"&gt;Device: n/a&lt;/span&gt;&lt;br/&gt;
            &lt;/div&gt;
            &lt;div class="info-box-right"&gt;
                &lt;span id="device-cps"&gt;CPS: n/a&lt;/span&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;canvas id="gammaChart" class="gamma-chart"&gt;&lt;/canvas&gt;
        &lt;div id="gammaChartData"&gt;&lt;/div&gt;

        &lt;div class="info-row-bottom"&gt;
            &lt;div class="info-box-left"&gt;
                &lt;span&gt;Collection Time:&lt;/span&gt;&lt;br/&gt;
                &lt;span id="collection-time"&gt;n/a&lt;/span&gt;
            &lt;/div&gt;
            &lt;div class="info-box-right"&gt;
                &lt;span&gt;Prediction:&lt;/span&gt;&lt;br/&gt;
                &lt;span id="prediction-result"&gt;n/a&lt;/span&gt;
           &lt;/div&gt;
        &lt;/div&gt;
        &lt;button class="reset-button" hx-post="/device/reset_spectrum" hx-swap="none"&gt;Reset Spectrum&lt;/button&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>



<p class="wp-block-paragraph">Here, I used <a href="https://www.chartjs.org/">Chart.js</a> to make a graph, and all UI controls are located in the <em>div</em> section. HTMX allows us to make an interactive web app without using JavaScript. This HTMX string performs the actual update:</p>



<pre class="wp-block-prismatic-blocks"><code class="language-javascript">hx-get="/device/poll" hx-target="#device-info" hx-swap="outerHTML" hx-trigger="load, every 1s"</code></pre>



<p class="wp-block-paragraph">Here, HTMX is configured to call the <em>/device/poll</em> endpoint every second, and the result will be placed into the control with a <em>#device-info</em> ID.</p>



<p class="wp-block-paragraph">Readers are welcome to change the HTML if needed. I am not a frontend developer, and maybe this UI can be done more effectively. However, the page works and does its job:</p>



<figure class="wp-block-image aligncenter size-large is-resized"><img decoding="async" src="../Images/ed058d30f12d11b2c0d2c25784d445fd.png" alt="" class="wp-image-612877" style="width:593px;height:auto" data-original-src="https://contributor.insightmediagroup.io/wp-content/uploads/2025/07/htmx-1024x587.png"/><figcaption class="wp-element-caption">Screenshot by author</figcaption></figure>



<h3 class="wp-block-heading">3.2 FastAPI</h3>



<p class="wp-block-paragraph">As mentioned before, I decided to use <a href="https://fastapi.tiangolo.com/">FastAPI</a> for the backend part.</p>



<p class="wp-block-paragraph">First, we need to create a FastAPI instance and add the required endpoints:</p>



<pre class="wp-block-prismatic-blocks"><code class="language-python">from fastapi import FastAPI, Request, Response
from fastapi.responses import FileResponse
from contextlib import asynccontextmanager


@asynccontextmanager
async def lifespan(app: FastAPI):
    logging.info("FastAPI::Started")
    app.state.device = RadiaCodeDevice()
    app.state.device.start_in_background()
    yield
    app.state.device.stop()
    logging.info("FastAPI::Ended")

app = FastAPI(lifespan=lifespan)
app.mount("/static", StaticFiles(directory="static"), name="static")

@app.get("/device/poll")
async def device_poll():
    """ Get device data """
    # The code is placed below

@app.post("/device/reset_spectrum")
async def device_reset_spectrum():
    """ Reset gamma spectrum data """
    app.state.device.reset_spectrum()
    return "OK"

@app.get("/")
def read_index(request: Request):
    context = {"request": request}
    return templates.TemplateResponse("index.html", context)

@app.get("/favicon.ico", include_in_schema=False)
async def favicon():
    return FileResponse("static/favicon.ico")


if __name__ == '__main__':
    import uvicorn
    uvicorn.run("app:app", host='0.0.0.0', port=8000, reload=True)</code></pre>



<p class="wp-block-paragraph">As readers can see, I used a <em>lifespan</em> callback to run the Radiacode connection when the FastAPI server is started. The <em>app.state</em> is a global state object in FastAPI. We have only a single device instance, so the use of a global state is a good place for that. FastAPI itself is based on asyncio, and the Radiacode connection thread works in the background. In asyncio, I cannot block the main thread, so I used two queues (one for data and one for commands) for data exchange.</p>



<p class="wp-block-paragraph">The way of updating the page in HTMX is interesting. Let’s say I want to update the CPS (counts per second) value. As a reminder, in HTML, I have these controls:</p>



<pre class="wp-block-prismatic-blocks"><code class="language-css">&lt;span id="device-info"&gt;Device: n/a&lt;/span&gt;&lt;br/&gt;

&lt;div class="info-box-left"&gt;
    &lt;span id="device-info"&gt;Device: n/a&lt;/span&gt;&lt;br/&gt;
&lt;/div&gt;
&lt;div class="info-box-right"&gt;
    &lt;span id="device-cps"&gt;CPS: n/a&lt;/span&gt;
&lt;/div&gt;

&lt;div id="reload-status" hx-get="/device/poll" hx-target="#device-info"
     hx-swap="outerHTML" hx-trigger="load, every 1s"
/&gt;</code></pre>



<p class="wp-block-paragraph">In a response to <em>/device/poll</em>, I need to return a proper HTML for the corresponding IDs:</p>



<pre class="wp-block-prismatic-blocks"><code class="language-python">def get_connection_data(self) -&gt; str:
     """ Get device data for the HTML poll request """
     status = "Connected"
     return f'&lt;span id="device-info"&gt;{status}&lt;/span&gt;'

def get_cps_data(self) -&gt; str:
    """ Get CPS data for the HTML poll request """
    return f'&lt;span id="device-cps" hx-swap-oob="true"&gt;CPS: {self.radiation_cps:.2f}&lt;/span&gt;'

def get_spectrum_data(self) -&gt; str:
    """ Get spectrum data for the HTML poll request """
    return f'&lt;script&gt;updateChartData([], [])&lt;/script&gt;'

def get_spectrum_prediction(self) -&gt; str:
    ...

@app.get("/device/poll")
async def device_poll():
    """ Get device data """
    poll = app.state.device.get_connection_data()
    cps = app.state.device.get_cps_data()
    spectrum = app.state.device.get_spectrum_data()
    prediction = app.state.device.get_spectrum_prediction()
    return Response(
        content=poll + cps + prediction + spectrum,
        media_type="application/text"
    )</code></pre>



<p class="wp-block-paragraph">HTMX will automatically trigger the <em>/device/poll</em> endpoint and replace the controls on a web page with new data. The <a href="https://htmx.org/attributes/hx-swap-oob/">hx-swap-oob</a> key allows us to update several controls in a single request. As we can see, HTMX allows us to seamlessly connect a frontend page in a browser with a Python backend.</p>



<p class="wp-block-paragraph">A <em>get_spectrum_data</em> method is slightly different. Updating a Chart.js bar chart is not supported directly by HTMX. However, I can return a JavaScript code block that will be executed on the page. I use this feature to update the graph by calling the <em>updateChartData</em> method, which was placed in <em>index.html</em> before.</p>



<p class="wp-block-paragraph">The full source code is longer, and here I displayed only the crucial parts. A link to a full project is available at the end of the article.</p>



<h2 class="wp-block-heading">4. Testing</h2>



<p class="wp-block-paragraph">Finally, let’s see both apps in action! My model can classify isotopes, and I wanted to test it using an object that was not “seen” by the model before. To do this, I visited the minerals shop in the city center:</p>



<figure class="wp-block-image size-large"><img decoding="async" src="../Images/55b3078b64b6e19420cca2aa88b836a8.png" alt="" class="wp-image-613093" data-original-src="https://contributor.insightmediagroup.io/wp-content/uploads/2025/07/mineralShop-1024x813.jpg"/><figcaption class="wp-element-caption">Image by author</figcaption></figure>



<p class="wp-block-paragraph">I know that some minerals can be slightly radioactive, so I chose the best one (or the worst one, depending on your preference) using a radiation detector. It was a blue apatite. I tested it at home, and my GMC radiation meter shows that its radioactivity level is 0,71 µSv/h, which was considered by the device’s algorithm as “High”:</p>



<figure class="wp-block-image aligncenter size-large is-resized"><img decoding="async" src="../Images/afe15aa92e04b3429d49f3af09796eed.png" alt="" class="wp-image-613185" style="width:554px;height:auto" data-original-src="https://contributor.insightmediagroup.io/wp-content/uploads/2025/08/gmcApatite-1024x562.jpg"/><figcaption class="wp-element-caption">Image by author</figcaption></figure>



<p class="wp-block-paragraph">Here, “high” does not mean “dangerous” – this value is just high for the average background radiation level, which is usually about 0,1 µSv/h. However, in this case, the higher level is only about 1-2cm around the mineral. It is not dangerous and cannot cause any harm (as a comparison, the radiation in the airplane, caused by cosmic rays, is ~1.5 times higher than that). And as described in the previous part, a Geiger counter can show us the value, but cannot tell us <em>why</em> this mineral is radioactive. So, I will use a Radiacode gamma detector to find it out.</p>



<p class="wp-block-paragraph">As a reminder, first I created a <strong>Streamlit app</strong> and published it on the Streamlit Community Cloud platform. The app is <a href="https://gammaspectrumdetection.streamlit.app">available online</a>, but while nobody uses it, the app is in “sleep mode”:</p>



<figure class="wp-block-image size-large"><img decoding="async" src="../Images/ce350fb7cc49f56b0c401bd1252111a7.png" alt="" class="wp-image-613094" data-original-src="https://contributor.insightmediagroup.io/wp-content/uploads/2025/07/streamlitStandby-1024x625.png"/><figcaption class="wp-element-caption">Screenshot by author</figcaption></figure>



<p class="wp-block-paragraph">I saved a spectrum using a Radiacode Android app. When the Streamlit app started (the container spin-up takes 2-3 minutes), I uploaded the file:</p>



<figure class="wp-block-image size-large"><img decoding="async" src="../Images/6b56d9d6e1bd9b525146410e12d8bf2f.png" alt="" class="wp-image-613096" data-original-src="https://contributor.insightmediagroup.io/wp-content/uploads/2025/07/streamlitResult-1024x739.png"/><figcaption class="wp-element-caption">Classification result, screenshot by author</figcaption></figure>



<p class="wp-block-paragraph">As a second test, let’s <strong>run the local app</strong>. It is more functional, it can communicate with the Radiacode detector via USB, and can also work as a UI to control the hardware. Another crucial difference is that we can see data from the detector in real time.</p>



<p class="wp-block-paragraph">I pressed the “Reset Spectrum” button to restart the accumulation, and after 2-3 minutes of collecting the data, the mineral was identified as thorium:</p>



<figure class="wp-block-image size-large"><img decoding="async" src="../Images/b11694dccef3d93eff083a72a2624735.png" alt="" class="wp-image-613164" data-original-src="https://contributor.insightmediagroup.io/wp-content/uploads/2025/08/UIRadiacode-1024x682.png"/><figcaption class="wp-element-caption">Screenshot by author</figcaption></figure>



<p class="wp-block-paragraph">This was an interesting find, because according to <a href="https://en.wikipedia.org/wiki/Apatite">Wikipedia</a>, apatite may contain uranium, but thorium was not mentioned there. However, according to the <a href="https://pubs.usgs.gov/of/2004/1050/PalosVerdesRn.htm#thorium.htm">USGS</a> (U.S. Geological Survey) page, thorium may often be found in apatites. In this case, the Wikipedia article was just not complete enough.</p>



<h2 class="wp-block-heading">Conclusion</h2>



<p class="wp-block-paragraph">In this article, I tested the machine learning model for detecting radioactive isotopes. I tested two ways of using the model – a Streamlit app, published in Streamlit Community Cloud, and a fully functional FastAPI app that gets data from the hardware and can be used as a web interface for a real radiation detector.</p>



<p class="wp-block-paragraph">As we can see, the model works well, and I was able to find trace amounts of thorium in a blue apatite. This fact was not even mentioned in Wikipedia, and it’s always nice to learn something new. However, as was mentioned in the previous part, the model’s capabilities are limited. I am not a nuclear institution, and the model was trained only on radioactive objects that can be legally purchased, like a vintage watch with radium dials. I don’t have test sources like Cesium or Plutonium. Still, it was fun to train the model and to use it in the app. Probably, projects like this have no commercial value, and there is a 0.00% market demand for the isotope classification model. However, while doing this, I was able to use tools like FastAPI, HTMX, or CSS, which can be useful in other projects. Last but not least, I had fun, which is the most important part 😉</p>



<p class="wp-block-paragraph">All data files were collected using a <a href="https://102.radiacode.com/DmitriiE">Radiacode</a> scintillation detector. It’s a nice and compact device with a price of a mid-range smartphone, that, as we can see, allows us to perform some fun experiments (disclaimer: I don’t have any profit or other commercial interest from its sales). For those readers who don’t have a Radiacode hardware, all collected data is freely <a href="https://www.kaggle.com/datasets/dmitriieliuseev/radiation-spectra-ml-data">available on Kaggle</a>. The archive contains spectra of different objects used to train the model. Spectra in XML format can be used to test a Streamlit app. The “replay” folder contains the log, saved from a Radiacode device, and can be used to test the HTMX app.</p>



<p class="wp-block-paragraph">The full source code for this article is available on my <a href="https://www.patreon.com/deliuseev">Patreon page</a>. This support helps me to buy equipment and electronics for future tests like this. And readers are also welcome to connect via <a href="https://www.linkedin.com/in/dmitrii-eliuseev/">LinkedIn</a>, where I periodically publish smaller posts that are not big enough for a full article.</p>



<p class="wp-block-paragraph">Thanks for reading.</p>
    
</body>
</html>